<section class = "container-fluid" id = "top">
  <section class = "container" >



  <div class="row right">


  	  <div class = "offset-lg-1 col-lg-7 col-sm-12">
	  	   <div class = "row" id = "logo">
			<%= image_tag("logo.png", :class => "logo")%>
		   </div>


	       <div class = "row" id = "maintitle">
		  		<h1 class = "display-4">TU AIMES LA COMPETITION ENTRE POTES ?</h1>
		        <p>
              Tu es fan de foot, golf, tennis, pétanque, fléchette, FIFA ou encore Call of Duty,...?<br>
              Crée tes propres ligues, lance tes défi à tes potes,regarde les résultats, les classements, compare, analyse, partage, ...
            </p>
	       </div>

          <div class = "row justify-content-center cta" >

		    <p>Sois le premier informé de la sortie de MyLeague.<br> Laisse nous ton adresse email !</p>

				 <form action="" method="post">

						<input class = "email" type="email" name="myEmail" placeholder="email" required/>
						<button class="btn btn-primary btn-lg" href="#" role="button" class="btn"> Go go go !</button>




				 </form>


          </div>

  	  </div>



	  <div class = " offset-lg-1 col-lg-2 col-sm-12 col align-self-center ">
	  		<%= image_tag("iphone.png", :class => "iphone")%>
	 </div>
  </div>


 </section>
</section>



<section class = "container justify-content-center" id = "reasonsfluid" >

	<div class = "row justify-content-center"><h2>Nos Avantages</h2></div>


	<div class="row reasonscontainer">

          <div class="col-lg-3 offset-lg-1 col-sm-12 reasone">
						<h3>Jouer</h3>
						<ul>
  						<li>Créer des ligues</li>
  						<li>Lancer des défis</li>
  						<li>Créer des classements</li>
						</ul>
		  </div>

		<div class="col-lg-3 offset-lg-1 col-sm-12 reastwo">
					<h3>Tracker</h3>
					<ul>
					   <li>Affichage classements</li>
  					 <li>Affichage résultats</li>
  					 <li>Affichage historique</li>
  					 <li>Comparaison des stats</li>
					</ul>
		</div>

		<div class="offset-lg-1 col-lg-3 col-sm-12 reasthree">
				<h3>Partager</h3>
				<ul>
					 <li>Chat live</li>
					 <li>Chambrer ses potes</li>
					 <li>Partager sur les réseaux sociaux</li>
				</ul>
        </div>

     </div>

</section>

<section class = "container-fluid" id = "founderbg" >
<section class = "container" id = "founder" >
	<div class = "row justify-content-center">
		<h2>Pourquoi cette App ?</h2>
	</div>


	<div class = "row justify-content-center">

		
			<div class=" offset-lg-2 col-lg-2 col-sm-12" id = "presentation">
				<%= image_tag("profil.png", :class => "profil")%>
			</div>
	
		   <div class = "col-lg-4 col-sm-12" >


  			<h3>Sportinator</h3>
  			<p>
          <i>"Je kiffe le sport !!! J'aime l'esprit de compétition qui est ma motivation, mes potes qui sont ma force.
          J'aime pouvoir analyser tout mes résultats. Comparer et partager, voilà ma satisfaction."</i>
        </p>
		  </div>
	</div>



</section>
</section>






<section class = "container-fluid" id = "refsec" >
<section class = "container" id = "ref" >
	<div class = "row justify-content-center">
		<h2>Ils ont essayé MyLeague, ils ont adoré</h2>
	</div>


	<div class = "row justify-content-center people">
		
	
		   <div class = "col-lg-4 col-sm-12 peeps" >

			<p>"Trop bien c't'appli, je kiff d'chambrer mes potes mouhahaha"<br>Seb, 19 ans<br>Football</p>

		  </div>
		   <div class = "col-lg-4 col-sm-12 peeps" >


			<p>"Super site !!!, depuis le temps que je chercher ça. Ca gère les classements, les suivis à notre place trop cool"<br>Jordan, 23 ans<br>Tennis</p>
		  </div>

		  		   <div class = "col-lg-4 col-sm-12 peeps" >


			<p>"Cette application est bien pratique pour l'organisation de nos concours de pétanque de notre quartier<br>
        Merci de ce partage."<br>Michel, 56 ans<br>Pétanque</p>
	</div>

</section>
</section>


<section class = "container-fluid" id = "coversec" >

	<div class = "row covcontent" >
		<div class = "col-lg-4"> </div>
		<div class = "col-lg-4 col-sm-12 justify-content-center cta" id = "ctabis">

		    <p>Intéressé par MyLeague ?<br> Laisse nous ton adresse email, et rejoins la liste des bêta testeurs. </p>

				 <form action="" method="post">

						<input class = "email" type="email" name="myEmail" placeholder="email" required/>
						<button class="btn btn-primary btn-lg" href="#" role="button" class="btn"> Go go go !</button>




				 </form>

        </div>
        <div class = "col-lg-4"> </div>
      </div>


</section>

<section class="MailChimp">
		<!-- Begin MailChimp Signup Form -->
	<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
		/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
		   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	<div id="mc_embed_signup">
	<form action="https://heroku.us17.list-manage.com/subscribe/post?u=c6a3260b52d4e3fa0d365e260&amp;id=87cd0c6fa0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	    <div id="mc_embed_signup_scroll">
		<label for="mce-EMAIL">Inscris toi pour être bêta testeur !</label>
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Adresse email" required>
	    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c6a3260b52d4e3fa0d365e260_87cd0c6fa0" tabindex="-1" value=""></div>
	    <div class="clear"><input type="submit" value="Inscription" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	    </div>
	</form>
</div>

<!--End mc_embed_signup-->
</section>
