<section class = "container-fluid" id = "top">
  <section class = "container" >



  <div class="row">


  	  <div class = "offset-lg-1 col-lg-6 col-sm-12">
	  	   <div class = "row" id = "logo">
			<%= image_tag("logo.png", :class => "logo")%>
		   </div>
       

	       <div class = "row" id = "maintitle">
		  		<h1>WHY THE FUCK OUR PRODUCT IS AWESOME AND UNIQUE</h1>
		        <p>It's a text that goes further and explains the reasons why. Our reader should fall in love with the app and reaaaaally want to know more</p>	
	       </div>	


          <div class = "row" id ="cta">

		    <p>Sois le premier informé de la sortie de MyLeague ! Laisse nous ton adresse email !</p>
		      <div class = "row" id ="ctabtn">
			
				 <form action="" method="post">
				 	<div class = "col-lg-6 col-sm-12">
						<input class = "email" type="email" name="myEmail" placeholder="email" required/>	
					</div>

					<div class = "col-lg-6 col-sm-12">
					      <p><a class="btn btn-primary btn-lg" href="#" role="button">Go !</a></p>
					 </div>

				 </form>

			 </div>
          </div>

  	  </div>



	  <div class = " offset-lg-1 col-lg-3 col-sm-12 col align-self-center ">
	  		<%= image_tag("iphone.png", :class => "iphone")%>
	 </div>
  </div>


 </section>
</section>



<section class = "container" id = "reasonsfluid" >
	<section class = "container" id = "reasons" >
	<div class = "row justify-content-center"><h2>Why are we so useful</h2></div>
	

	<div class="row reasonscontainer">
				
          <div class="col-lg-3 offset-lg-1 col-sm-12 reasone">
						<h3>First reason</h3>
						<ul>
						<li>Blablabla</li>
						<li>Blablabla</li>
						<li>Blablabla</li>
						</ul>
		  </div>
									
		<div class="col-lg-3 offset-lg-1 col-sm-12 reastwo">
					<h3>Second reason</h3>
					<ul>
					<li>Blablabla</li>
						<li>Blablabla</li>
						<li>Blablabla</li>
						<li>Blablabla</li>
						<li>Blablabla</li>
					</ul>
		</div>
									
		<div class="offset-lg-1 col-lg-3 col-sm-12 reasthree">
				<h3>Third reason</h3>
				<ul>
						<li>Blablabla</li>
						<li>Blablabla</li>
						<li>Blablabla</li>
						<li>Blablabla</li>
				</ul>
        </div>
	
     </div>
</section>
</section>

<section class = "container-fluid" id = "founderbg" >
<section class = "container" id = "founder" >
	<div class = "row justify-content-center">
		<h2>Why I created this</h2>
	</div>
	

	<div class = "row justify-content-center">
		
			<div class=" offset-lg-2 col-lg-2" id = "presentation">
				<%= image_tag("profil.png", :class => "profil")%>
			</div>
	
		   <div class = "col-lg-4" >

			<h3> Jean-Michel Sport </h3>
			<p>Pourquoi j'ai créé cette merveilleuse app. Pour rendre le monde meilleur. Coeur. </p>
		  </div>
	</div>
	
</section>
</section>


